# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

# Wordpress Settings
#export WORDPRESS_LOCAL_HOME=C:/Temp/Primereando
#export WORDPRESS_PRIMEREANDO_HOME=C:/Temp/Primereando
export WORDPRESS_PRIMEREANDO_HOME=/opt/primereando
export WORDPRESS_INFOVIRALES_HOME=/opt/infovirales
export WORDPRESS_LRDP_HOME=/opt/lrdp
export WORDPRESS_ANALOGIAS_HOME=/opt/analogiasconsultora
#export WORDPRESS_INFOVIRALES_HOME=C:/Temp/Infovirales
#export WORDPRESS_LRDP_HOME=C:/Temp/LRDP
#export WORDPRESS_ANALOGIAS_HOME=C:/Temp/Analogiasconsultora
#export WORDPRESS_SPARTANIT_HOME=C:/Temp/SpartanIT
#export WORDPRESS_AUXILIAR_HOME=C:/Temp/Auxiliar
export WORDPRESS_UPLOADS_CONFIG=./config/uploads.ini
export WORDPRESS_UPLOADS_CONFIG_MEMORY_32=./config/uploads_memory_32.ini
export WORDPRESS_UPLOADS_CONFIG_MEMORY_64=./config/uploads_memory_64.ini
export WORDPRESS_UPLOADS_CONFIG_MEMORY_128=./config/uploads_memory_128.ini
export WORDPRESS_UPLOADS_CONFIG_MEMORY_256=./config/uploads_memory_256.ini
export WORDPRESS_DB_HOST=database:3306
export WORDPRESS_DB_NAME=
export WORDPRESS_DB_USER=
export WORDPRESS_DB_PASSWORD=

# MySQL Settings
#export MYSQL_LOCAL_HOME=C:/Temp/DbMysql
export MYSQL_LOCAL_HOME=/opt/DbMysql
#export MYSQL_LOCAL_HOME=./dbdata
export MYSQL_DATABASE=${WORDPRESS_DB_NAME}
export MYSQL_DBCREATE=./mysql/init
export MYSQL_USER=${WORDPRESS_DB_USER}
export MYSQL_PASSWORD=${WORDPRESS_DB_PASSWORD}
export MYSQL_ROOT_PASSWORD=jkrNcgBHofWEvBcCfhDC

# Nginx Settings
export NGINX_CONF=./nginx/default.conf
export NGINX_CONF_SITE1=./nginx/primereando.conf
export NGINX_CONF_SITE2=./nginx/infovirales.conf
export NGINX_CONF_SITE3=./nginx/lrdp.conf
export NGINX_CONF_SITE4=./nginx/analogiasconsultora.conf
#export NGINX_CONF_SITE5=./nginx/spartanit.conf
export NGINX_SSL_CERTS=./ssl
#export NGINX_LOGS=./logs/nginx
export NGINX_LOGS=/opt/nginx/logs

# User Settings
# TBD
